<h1>All Trips</h1>

<section class = "trips">
  <% @trips.each do |trip| %>
    <section class = "trip-info">
      <h2><%= link_to trip.title, trip_path(trip.id) %></h2>
    </section>
  <% end %>
</section>