<h1> All Trips </h1>

<% @trips.each do |trip| %>
  <section id = "trip-<%= trip.id %>" class = "individual-trip" >
    <h2><%= link_to "#{trip.title}", trip_path(trip) %></h2>
  </section>
<% end %>
