<h1><%= @trip.title %></h1>
<p>Destination City: <%= @trip.destination_city %></p>
<p>Mileage: <%= @trip.mileage %></p>

<p>Travelers On This Trip:</p>
<% @trip.travelers.each do |traveler| %>
  <p><%= traveler.name %></p>
<% end %>
