<h1><%= @trip.title %></h1>
<section class="details">
<ul>
  <li>Destination: <%= @trip.destination %></li>
  <li>Mileage: <%= @trip.mileage %></li>
</ul>
</section>
<section class="travelers">
<ul>
  <% @trip.travelers.each do |traveler| %>
    <li><%= traveler.name %></li>
  <% end %>
</ul>
</section>