<h2><%= "Name: #{@traveler.name}"%></h2>
<h3><%= "Age: #{@traveler.age}"%></h3>
<% @traveler.trips.each do |trip| %>
  <h3><%= trip.title %><h3>

<% end %>
<%= "Average Mileage: #{@traveler.trips.average(:mileage)}" %>